<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">My Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link"  routerLink = "/blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/travel">Travel</a>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/cart">your CART</button>
            </li>

          </ul>
          
     </div>      
</nav>

    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container rounded">
                            <h1 class="header-text"><div>Come And See</div> <h3><i>Travel and Read</i></h3></h1>
                            <p class="p-large header-text">We give you informations and more, travel and be free</p>
                            <a class="btn-solid-lg page-scroll" routerLink="/travel">DISCOVER</a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6 ">
                        <div class="image-container head-img-box">
                            <img class="img-fluid" src="../assets/beach.jpg" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->
